
.main-box {
    overflow: auto;
}
.assignment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    margin-left: 3em;
    margin-right: 3em;
    overflow: auto;

}
.assignment-form-box {
    background-color: #1e4258;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.35em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}
.all-assigments-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1e4258;
    row-gap: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.8em;

}
.assignment-list-box {
  display: flex;
  align-items: center;
  min-height: 2em;
  border-bottom: 0.1em solid aliceblue;

}
.header-divider {
    /* margin-right: 3em; */
    margin-bottom: 0.5em;
    height: 0.15em;
    background-color: aliceblue;
  }
.create-assignment-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #071f31;
    border-radius: 0.2em;
    overflow: hidden;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-top: 0.8em;
    cursor: pointer;

}

.assignments-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #071f31;
  border-radius: 0.2em;
  overflow: hidden;
  padding-left: 0.3em;
  padding-right: 0.3em;
  cursor: pointer;

}

.header-titles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* padding-right: 0px; */
}
.button-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0px;
}
button {
    background-color: teal;
    text-align: center;
    text-align: center;
    font-size: small;
    height: 2.5em;
    overflow: hidden;
}
button:hover {
    background-color: rgb(22, 31, 52);
}
label {
    font-family: "Times New Roman", Times, serif;
    color: aliceblue;
    font-size: 1.2em;
  }

  input {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
  }

  textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    border-radius: 0.3em;
    padding: 0.2em;
  }
  
  p {
    font-family: "Times New Roman", Times, serif;
    color: aliceblue;
    font-size: 1.8em;
    line-height: 0px;
  }
  input[type=file] {
    opacity: 1;
    position: relative;
    z-index: unset;
  }