html, body {
    background-color: #102e44;;
    height: 100%;
  }
.Homepage-student-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
    margin-top : 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.course-container {
    display: flex;
    flex-direction: column;
    height: 150px;
}
.course-container-top {
    background-color: #0a2232;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 70%;
}
.course-container-bottom {
    background-color: rgb(237, 235, 235);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30%;
    text-align: center;
    justify-content: center;
}
