<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> daab152 (Finally moved logo to be stuck in the center)
.CCHeader {
    text-align: center;
    color: white;

}

.CCBanner {
    width: 225px;
    height: 75px;
}

.CCBannerContainer {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD

}

.CCNavBar {
<<<<<<< HEAD

    background-color: rgba(13, 37, 54, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    padding: 0px 0px;
=======
    display: flex;
    background-color: rgba(13, 37, 54, 1);
    display: grid;
    grid-template-columns: 7fr 7fr 7fr 7fr 7fr 7fr 7fr;
    grid-gap: 0px;
>>>>>>> 45ea6e6 (needs some fixes but added bar for course content pages (quizzes, grades, etc))
}

.CCNavButton {
    color: white;
<<<<<<< HEAD
    pad: 0px 0px;
=======
    pad: 10px 10px;
>>>>>>> 45ea6e6 (needs some fixes but added bar for course content pages (quizzes, grades, etc))
    justify-content: center;
    align-items: center;
    cursor: pointer;
    ;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> d7f8e40 (fixed and finalized navbar of course content overall page, created outline for backend to be added, started classlist portion)
.CCSyllabusContainer {
    color: white;
    background-color: white;
    display: contents;
}

.CCAssignment {
    background-color: white;
    color: black; 
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    padding: 10px 0px;
    width: 200px;
    height: 100px;
    cursor: pointer;
}
<<<<<<< HEAD
=======

>>>>>>> d7f8e40 (fixed and finalized navbar of course content overall page, created outline for backend to be added, started classlist portion)




=======
.CCtest {
    border: black;
    padding: 10px 10px;
    cursor: pointer;
=======
>>>>>>> daab152 (Finally moved logo to be stuck in the center)

}
>>>>>>> 8100a24 (created css file, added test button, committing to save before more changes)
=======



>>>>>>> 45ea6e6 (needs some fixes but added bar for course content pages (quizzes, grades, etc))
