.CCHeader {
    text-align: center;
    color: white;

}

.CCBanner {
    width: 225px;
    height: 75px;
}

.CCBannerContainer {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

}