.navbar-container {
    display: grid;
    background-color: #102e44;
    grid-template-columns: 23fr 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
}

.logo-container {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-logo-container {
    justify-content: center;
    align-items: center;
    border: 1px solid #102e44;
    cursor: pointer;
}

.notification-logo-container {
    justify-content: center;
    align-items: center;
    border: 1px solid #102e44;
    cursor: pointer;
}

.settings-logo-container {
    justify-content: center;
    align-items: center;
    border: 1px solid #102e44;
    cursor: pointer;
}

.user-logo-container {
    justify-content: center;
    align-items: center;
    border: 1px solid #102e44;
    cursor: pointer;
}

.menu-logo-container:hover {
    background-color: white;
}

.notification-logo-container:hover {
    background-color: white;
}

.settings-logo-container:hover {
    background-color: white;
}

.user-logo-container:hover {
    background-color: white;
}

.logo {
    height: 60px;
    width: 60px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.menu_logo {
    height: 40px;
    width: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

.settings_logo {
    height: 40px;
    width: 40px;
    padding-top: 15px;
    padding-left: 20px;
}


.notification_logo {
    height: 40px;
    width: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

.user_logo {
    height: 40px;
    width: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

