<<<<<<< HEAD
.RegistrationPage {
    text-align: center;
}

.RegistrationPage-header {
    background-color: #102e44;
    min-height: 100vmin;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vmin);
    color: white;
}

.banner {
    height: 10vmin;
    width: 25vmin;
=======
.banner-container {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.banner {
    height: 300px;
    width: 800;
    padding-bottom: 20px;
    text-align: center;
>>>>>>> 816cbd1 (Added banner to registration page)
}