:root {
  --dark-blue: rgb(16,46,68);
  --light-blue: rgb(185,230,233);
  --blue: rgb(0,100,255);
  --white: rgba(255,255,255);

  --font-fancy: 'Times New Roman';

  background-color: var(--dark-blue);
  font-family: 'Times New Roman', Times, serif;
}

html, body {
  scroll-behavior: smooth;
}

/********************************** App.js **********************************/

.App {
  text-align: center;
}

/********************************** Login Page **********************************/

.Banner-logo {
  max-width: 50vw;
}

.Default-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 3em;
  color: white;
}

.Default-card .Login-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1em;
}

.Input-fields {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.Login-form > Button {
  padding: 1em;
  border-radius: 1em;
}

.Password-section {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.Mini-button {
  align-self: flex-end;
  color: var(--blue);
  font-size: 1em;
}

.MuiOutlinedInput-notchedOutline{
  border-radius: 1em !important;
  border-color: white !important;
}

.MuiInputLabel-root{
  color: rgba(255,255,255, 0.5) !important;
}

<<<<<<< HEAD
.MuiInputBase-input{
  color: var(--white) !important;
}

.MuiSvgIcon-root {
  color: var(--white);
}

.Vertical-line {
  border: 1px solid white;
  margin: 0.75em;
  height: 1em;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

.MuiInputLabel-input{
  color: var(--white) !important;
>>>>>>> 270941a (Added Basic Login Page)
=======
>>>>>>> 0720e1e (Added MUI Icon library, missing icons to form)
=======
}

.toggleButton {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: whitesmoke;
>>>>>>> 7eb55e5 (Implemented account type option, createInstructor)
=======
}


/********************************** Registration Page **********************************/


.Default-card .Registration-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1em;
}

.Registration-form > Button {
  padding: 1em;
  border-radius: 1em;
}

.Toggle-button {
  color:  white;
  display: grid;
  gap: 1em;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
<<<<<<< HEAD
>>>>>>> 1f262be (Improved UI, fixed bugs)
=======
}


/********************************** Home Page **********************************/

.homepage-student-container {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns by default */
  grid-gap: 2em;
  width: inherit;
}

.homepage-student {
  flex-grow: 1;
  overflow: auto;
  height: 100vh;
}

/* style the scrollbar as needed */
.homepage-student::-webkit-scrollbar {
  width: 0.75em;
  background-color: rgba(255, 255, 255, 0.15);
}

.homepage-student::-webkit-scrollbar-thumb {
  background-color: rgba(32, 32, 32);
  border-radius: 10em;
}

@media (max-width: 1650px) {
  /* Change to two columns on screens smaller than 768px */
  .homepage-student-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1225px) {
  /* Change to two columns on screens smaller than 768px */
  .homepage-student-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  /* Change to one column on screens smaller than 480px */
  .homepage-student-container {
    grid-template-columns: 1fr;
  }
}

.course-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: transform 0.15s ease-out;
  cursor: pointer;
}

.course-container:hover {
  transform: scale(1.1);
}

.course-container-top {
  background-color: #0a2232;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 100px;
  max-height: 100px;
  border: 20px solid #0a2232;
}

.course-container-bottom {
  background-color: aliceblue;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 40px;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.add-course-container {
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 11.25em;
  transition: transform 0.15s ease-out;
  cursor: pointer;
}

.add-course-container:hover {
  transform: scale(1.1);
}

.header-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: auto;
}

.divider {
  margin-right: 3em;
  height: 0.15em;
  background-color: aliceblue;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  font-size: 2.15em;
  line-height: 0px;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
>>>>>>> 8bb6cac (Improved Navbar and Homepage functionality)
}